body{
  padding-top:0 !important;
  a:hover{
    color:rgb(86,48,112) !important
  }
}
#header-navbar{
  background-color: white;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin-bottom: 1em;
  div > a{ 
    padding:0;
    font-family: "Raleway", Helvetica, sans-serif;
    border-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-left: 0.3em;
    padding-right: 0.6em;
    background-color: inherit;
    color:rgba(0,0,0,.55);
  }
  .navbar-toggler{
    font-size: 0.6em !important;
  }
  #brand-name{
    font-weight: 800;
    font-size: 1.15rem;
  }
  .navbar-divider{
    border-left: 1px solid hsla(0,0%,62.7%,.3);
    padding-left: 1.25rem;
  }
}

#underConstruction{
  .post{
    width: 40em;
    flex-grow: 1;
  }
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus, textarea:focus{
  border-color: rgb(100, 0, 199);
}
input{
  border: 1px solid rgba(128, 128, 128, 0.4);
}
#main > article > div > form > div > label > div,
#main > article > div > form > div > div > label > div
{
  opacity: 0.3 !important; //This change to 1%  for no reasons
  font-weight: 500;
}